{% load staticfiles %}
<html>
  <head>
  <link rel="stylesheet" type="text/css" href="{% static "tables.css" %}" />   
<!--  
<link rel="stylesheet" type="text/css" href="{% static "search_people.css" %}" />
  
<style>
a:link {text-decoration:none;}
a:visited {text-decoration:none; color:#0000ff;}
a:hover {text-decoration:underline; color:ff2138;}
a:active {text-decoration:underline;}

</style>

<style type="text/css">
body {background-image:url(/static/background.png); 
      background-repeat: no-repeat;
      background-attachment:fixed;
      background-position: 50% 0%;
}
</style>
-->

    <title>搜索结果</title>
  </head>

  <body>
  <br><br>
  	<div><p><h1 align="center" id="title">搜索结果</h1></p></div>

	<table border=1 align="center" id="search">
	 <tr>
	  <th>书名</th><th>ISBN</th><th>作者ID</th><th>出版商</th><th>出版日期</th>
	  <th>价格</th>
	 </tr>
	{% for book in personal_book_list %}
	 <tr>
	  <td>{{ book.Title }}</td>
	  <td>{{ book.ISBN }}</td>
	  <td>{{ book.AuthorID }}</td>
	  <td>{{ book.Publisher }}</td>
	  <td>{{ book.PublishDate }}</td>
	  <td>{{ book.Price }}</td>

	</tr>
	{% endfor %}
	</table>

	<div id="return"><a href="/book_list/"><p align="center"><strong>（返回)</strong></p></a></div>


  </body>
</html>
